table{
    width: 100%;
}

table thead th {
    margin: 0 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #FF4D5A;
}

table tbody tr{
    cursor: pointer;
    transition: 250ms;
}

table tbody tr:hover{
    opacity: 0.6;
}

table tbody tr td {
    margin: 10px 0;
    padding: 0 1rem;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    transition: 250ms;
}

.edit-icon:hover {
    color: #3F51B5;
    cursor: pointer;
}

.delete-icon:hover {
    color: #FA3F19;
    cursor: pointer;
}